<section class="secondary">
  <div class="row">
    <div class="col-md-12">
      {{partial 'companies/form'}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary" type="submit" {{action "save"}}>Save</button>
    </div>
    <div class="col-md-6 right">
      {{#unless isNew}}
        <button class="btn btn-default" type="submit"{{action "cancel"}}>Cancel</button>
      {{/unless}}
    </div>
  </div>
</section>