<div class="container">
  <h2>Ember CRM</h2>
  <aside>
    <ul class="nav nav-pills">
      <li>
        {{#link-to "companies" tagName="li" href=false}}<a {{bind-attr href="view.href"}}>Companies</a>{{/link-to}}
      </li>
      <li>
        {{#link-to "people" tagName="li" href=false}}<a {{bind-attr href="view.href"}}>People</a>{{/link-to}}
      </li>
      <li>
        {{#link-to "tasks" tagName="li" href=false}}<a {{bind-attr href="view.href"}}>Tasks</a>{{/link-to}}
      </li>
    </ul>
  </aside>
  <section class="main">
    {{outlet}}
  </section>
</div>